In [1]:
import pandas as pd
import plotly

In [2]:
df = pd.read_csv('lasttimeinBOtop10.csv')
df

,Unnamed: 0.2,Unnamed: 0.1,movieCd,Unnamed: 0,date,rnum,rank,rankInten,rankOldAndNew,movieNm,...,companys_역할,director_prev_movie,director_tot_filmo,director_prev_title,companys_prev_title,director_career_length,timeinBO,corr_timeinBO (days),avg score,avg aud
0,0,0,20223308,15328,2022-03-13,9,9,4,OLD,극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출\t,...,"['배급사', '수입사', '수입사', '제공']",[],[],[],"['missing data', 'missing data', 'missing data...",0.0,25 days,11,0.00,0.0
1,1,1,20196201,9258,2020-07-14,9,9,-1,OLD,소리꾼,...,"['제작사', '배급사', '제공', '해외세일즈사']",['20184961'],"['20111416', '20157587', '20161364', '20171164...",['에움길'],"['missing data', 'missing data', 'missing data...",7.0,14 days,15,9.62,7720.0
2,2,2,20208282,8838,2020-06-02,9,9,0,OLD,더 플랫폼,...,"['배급사', '수입사']",[],[],[],"['missing data', 'missing data', 'missing data...",0.0,21 days,21,0.00,0.0
3,3,3,20188304,2726,2018-09-30,7,7,0,OLD,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,...,"['배급사', '수입사']",['20172142'],"['20137295', '20150501', '20172142', '20188304']",['극장판 요괴워치: 하늘을 나는 고래와 더블세계다냥!'],"['missing data', 'missing data', 'missing data...",4.0,11 days,11,8.58,210000.0
4,4,4,20173226,11859,2021-03-31,10,10,0,NEW,패왕별희 디 오리지널,...,"['배급사', '배급사', '배급사', '수입사']",['20139073'],"['19848312', '19920281', '19930404', '19970252...",['수색'],"['missing data', 'missing data', 'missing data...",17.0,1463 days,28,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,1387,1387,20204432,10513,2020-11-17,4,4,1,OLD,애비규환,...,"['제작사', '제작사', '배급사', '해외세일즈사']",['20129326'],"['20129326', '20204432', '20224758']",['고슴도치 고슴'],"['missing data', 'missing data', 'missing data...",3.0,6 days,7,0.00,0.0
1388,1388,1388,20200065,12049,2021-04-19,10,10,0,OLD,더 파더,...,"['배급사', '수입사']",['20200065'],['20200065'],['더 파더'],"['missing data', 'missing data', 'missing data...",1.0,13 days,12,0.00,0.0
1389,1389,1389,20191951,13318,2021-08-24,9,9,-1,OLD,블랙 위도우,...,"['배급사', '수입사']",['20176511'],"['19998769', '20048302', '20123626', '20176511...",['베를린 신드롬'],"['missing data', 'missing data', 'missing data...",5.0,49 days,46,6.24,7011.0
1390,1390,1390,20179228,348,2018-02-04,9,9,0,OLD,마야2,...,"['배급사', '수입사']","['20179228', '20179228']","['20179228', '20179228']","['마야2', '마야2']","['missing data', 'missing data', 'missing data...",1.0,4 days,4,9.13,97000.0
1391,1391,1391,20224634,16499,2022-07-08,10,10,2,OLD,그대가 조국,...,"['제작사', '배급사']",['20197742'],"['20021326', '20081290', '20100752', '20140723...",['부재의 기억'],"['missing data', 'missing data', 'missing data...",10.0,45 days,27,0.00,0.0

In [7]:
df['audiAcc'].describe()

count    1.392000e+03
mean     5.811442e+05
std      1.626874e+06
min      2.590000e+02
25%      8.688750e+03
50%      3.615800e+04
75%      3.102135e+05
max      1.625258e+07
Name: audiAcc, dtype: float64

In [9]:
df[df['audiAcc'] > 10000000]

,Unnamed: 0.2,Unnamed: 0.1,movieCd,Unnamed: 0,date,rnum,rank,rankInten,rankOldAndNew,movieNm,...,companys_역할,director_prev_movie,director_tot_filmo,director_prev_title,companys_prev_title,director_career_length,timeinBO,corr_timeinBO (days),avg score,avg aud
434,434,434,20148493,8484,2020-04-28,5,5,1,OLD,어벤져스: 에이지 오브 울트론,...,"['배급사', '배급사', '수입사', '제작서비스-로케이션']",['20126566'],"['19980054', '20058297', '20124721', '20126566...",['캐빈 인 더 우즈'],"['missing data', 'missing data', 'missing data...",6.0,1833 days,6,7.02,220000.0
461,461,461,20183782,8508,2020-04-30,9,9,-3,OLD,기생충,...,"['제작사', '배급사', '제공', '해외세일즈사']",['20158485'],"['19970020', '19990069', '20000024', '20001591...",['옥자'],"['missing data', 'missing data', 'missing data...",25.0,337 days,90,8.77,0.0
490,490,490,20184889,8557,2020-05-05,8,8,-2,OLD,어벤져스: 엔드게임,...,"['배급사', '수입사']","['20177478', '20177478']","['20020009', '20068368', '20147790', '20159364...","['어벤져스: 인피니티 워', '어벤져스: 인피니티 워']","['missing data', 'missing data', 'missing data...",8.0,378 days,65,9.08,11230000.0
555,555,555,20177478,8549,2020-05-04,10,10,0,OLD,어벤져스: 인피니티 워,...,"['배급사', '수입사']","['20159364', '20159364']","['20020009', '20068368', '20147790', '20159364...","['캡틴 아메리카: 시빌 워', '캡틴 아메리카: 시빌 워']","['missing data', 'missing data', 'missing data...",8.0,741 days,55,8.83,8670000.0
584,584,584,20150976,498,2018-02-19,9,9,0,OLD,신과함께-죄와 벌,...,"['제작사', '제작사', '배급사', '제공', '제공', '해외세일즈사']",['20124082'],"['20020283', '20030133', '20060387', '20090307...",['미스터 고'],"['missing data', 'missing data', 'missing data...",14.0,62 days,50,7.76,1320000.0
621,621,621,20204548,16668,2022-07-25,9,9,-2,OLD,범죄도시2,...,"['제작사', '제작사', '제작사', '배급사', '배급사', '제공', '해외세...",['20198453'],"['20060425', '20081002', '20090434', '20119507...",['롱 리브 더 킹: 목포 영웅'],"['missing data', 'missing data', 'missing data...",11.0,69 days,73,8.61,1090000.0
840,840,840,20182530,4424,2019-03-19,5,5,0,OLD,극한직업,...,"['제작사', '제작사', '제작사', '배급사', '제공', '해외세일즈사']",['20177005'],"['20081672', '20110193', '20113636', '20122123...",['레슬러'],"['missing data', 'missing data', 'missing data...",14.0,56 days,57,0.00,0.0
872,872,872,20149120,17446,2022-10-11,7,7,5,OLD,인터스텔라,...,"['배급사', '수입사']",['20130522'],"['19988766', '20010238', '20020227', '20050112...",['트랜센던스'],"['missing data', 'missing data', 'missing data...",13.0,2897 days,18,7.61,690000.0
920,920,920,20197803,7569,2020-01-27,10,10,2,OLD,겨울왕국 2,...,"['배급사', '수입사']","['20158362', '20157846']","['19990226', '20070117', '20136803', '20157846...","['겨울왕국 이야기: 디즈니 애니메이션 제작 스토리', '겨울왕국 열기']","['missing data', 'missing data', 'missing data...",4.5,68 days,61,0.00,0.0
955,955,955,20183867,17235,2022-09-20,6,6,1,OLD,알라딘,...,"['배급사', '수입사']",['20173961'],"['19990208', '20010153', '20030012', '20058559...",['킹 아서: 제왕의 검'],"['missing data', 'missing data', 'missing data...",13.0,1217 days,131,8.11,410000.0
1287,1287,1287,20186202,2586,2018-09-16,7,7,1,OLD,신과함께-인과 연,...,"['제작사', '제작사', '배급사', '제공', '제공', '해외세일즈사']",['20150976'],"['20020283', '20030133', '20060387', '20090307...",['신과함께-죄와 벌'],"['missing data', 'missing data', 'missing data...",14.0,47 days,50,8.73,14410000.0
1326,1326,1326,20090834,1758,2018-06-25,9,9,-2,OLD,아바타,...,"['제작사', '배급사', '배급사', '수입사', '수입사']",['20058061'],"['19840091', '19850097', '19860132', '19900243...",['에이리언 오브 더 딥'],"['missing data', 'missing data', 'missing data...",17.0,3113 days,6,0.00,0.0

In [11]:
pd.read_csv('count_dirKrNm.csv')

      Unnamed: 0    peopleNm  Freq
0              1    D.J. 카루소     1
1              2   F. 게리 그레이     1
2              3     J 블레이크슨     1
3              4  J.J. 에이브럼스     1
4              5  M. 나이트 샤말란     2
...          ...         ...   ...
1081        1082     히라야마 미호     1
1082        1083   히라카와 유이치로     1
1083        1084     히로 타카시마     1
1084        1085     히로키 류이치     1
1085        1086    히시다 마사카즈     5

[1086 rows x 3 columns]